<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Oregon Trail!!!</title>
  </head>
  <body>
    <h1>Welcome to the Oregon Trail!!!</h1>

    <form action="/nameTravelers" method="post">
      Number of Travelers (between 2 and 7):
      <br>
      <br>
      <input type="number" name="quantity" value="2" min="2" max="7">
      <br>
      <br>
      <input type="submit" value='Continue!'>
    </form>

  </body>
</html>
