<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hunting "on the trail"!</title>

    <link rel="stylesheet" href="/css/hunting.css">

  </head>
  <body>

    <h1>Hunting at <%=game.locations[game.currentLocation].name%>
        <span class="score">0</span>
</h1>


    <button type="button" name="button" onClick="startGame()">Start!</button>



    <div id="game">
      <div class="spot spot1">
        <div class="animal"></div>
      </div>
      <div class="spot spot2">
        <div class="animal"></div>
      </div>
      <div class="spot spot3">
        <div class="animal"></div>
      </div>
      <div class="spot spot4">
        <div class="animal"></div>
      </div>
      <div class="spot spot5">
        <div class="animal"></div>
      </div>
      <div class="spot spot6">
        <div class="animal"></div>
      </div>
    </div>





    <script type="text/javascript" src="/js/hunting.js"></script>
  </body>
</html>
