<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hunting "on the trail"!</title>

    <link rel="stylesheet" href="/css/hunting.css">

  </head>
  <body>

    <h1>Hunting at <%=game.locations[game.currentLocation].name%></h1>

    <p>Good luck "on the trail"</p>

    <p>Shoot the animals as fast as you can! You have 30 seconds.</p>

    <button type="button" name="button" onClick="startGame()">Start!</button>

    <p>Your time: <span id='timeTaken'></span></p>
    <h4 class="score">0</h4>

    <div class="info">
      <h4 id='bullets'>bullets:  <%= game.supplies.bullet %> </h4>
    </div>
    <div class="food">
      <h4>Food starting out:  <%= game.supplies.poundsFood %> </h4>
    </div>

    <div id="shape"></div>


    <a href="/huntresults"><button type="button" name="button">Exit Hunt</button></a>
    <script type="text/javascript" src="/js/hunting.js"></script>
  </body>
</html>
