<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src=<%=game.locations[game.currentLocation].source %> alt="">
    <h1><%=game.locations[game.currentLocation].name%></h1>
    <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
    <% include partials/game-status %>

    <a href="#"><button type="button" name="button">Look Around</button></a>
    <a href="/turn"><button type="button" name="button">Next Location</button></a>
  </body>
</html>
