<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Name the travelers</title>
  </head>
  <body>
    <form class="" action="/outset" method="post">
      <% for (let i=1; i<= members; i++) {%>
        <label>Traveler <%=i%>
          <input type="text" name=<%="traveler"+i%> value="">
        </label>
    <% } %>
      <input type="submit" name="" value="Gather Supplies">
    </form>


  </body>
</html>
